* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 40px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 32px;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 2em;
}

ul {
  padding-left: 100px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.square {
  background: linear-gradient(to right, rgb(244, 93, 93), rgb(117, 117, 238),rgb(202, 195, 195), rgb(236, 236, 131));
  border: 1.7px solid #080808;
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: brown;
}

.game-info {
  margin-left: 20px;
}
